.button {
  display: inline-block;

  height: 60px;
  max-width: 100%;
  min-width: 140px;

  padding: 0 35px;

  font-size: 1em;

  border: none;
  overflow: hidden;
  outline: none;

  background-color: Transparent;
  background-repeat: no-repeat;
  background: url("../assets/rpg/button.png") no-repeat no-repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  background-size: 100% 100%;
}

.button.hover,
.button:hover {
  background-image: url("../assets/rpg/button-hover.png");
}

.button.down,
.button:active {
  background-image: url("../assets/rpg/button-down.png");
}

.button.golden p {
  display: inline-block;
}

.button.golden {
  height: 60px;
  display: inline-block;
  max-width: 100%;
  min-width: 140px;

  padding: 5px 35px 0;

  border: none;
  overflow: hidden;
  overflow: visible;
  outline: none;

  background-color: Transparent;
  background-repeat: no-repeat;
  background: url("../assets/rpg/button-golden.png") no-repeat no-repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  background-size: 100% 80%;
}

.button.golden.hover,
.button.golden:hover {
  background-image: url("../assets/rpg/button-golden-hover.png");
}

.button.golden.down,
.button.golden:active {
  background-image: url("../assets/rpg/button-golden-down.png");
}

.button.golden:before {
  white-space: nowrap;
  display: block;
  content: "";
  width: 34px;
  display: block;
  height: 110%;
  background: transparent url("../assets/rpg/button-golden-left.png") no-repeat
    right center;
  background-size: 100% 100%;
  margin: 0 0 0 0;
  left: 0px;
  float: left;
  margin-left: -46px;
  margin-top: -5%;
}

.button.golden:after {
  white-space: nowrap;
  display: block;
  content: "";
  width: 34px;
  height: 110%;
  background: transparent url("../assets/rpg/button-golden-right.png") no-repeat
    left center;
  background-size: 100% 100%;
  margin: 0 0 0 0;
  right: 0px;
  float: right;
  margin-right: -46px;
  margin-top: -5%;
}

.button.golden:hover:before {
  background-image: url("../assets/rpg/button-golden-left-hover.png");
}

.button.golden:hover:after {
  background-image: url("../assets/rpg/button-golden-right-hover.png");
}
